<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>简历收件箱-具体一份简历</title>
    <link rel="shortcut icon" href="img/xi.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/member.css"/>
</head>
<body>
<div class="pager-wrap member-safety-wrap clearfix">
    <div class="member-safety-left fl">
        <div class="member-logo">
            <a href="javascript:;"><img src="img/vip-logo.png"/></a>
            <a href="javascript:;" class="icon-nav"></a>
        </div>
        <div class="left-nav-lists">
            <ul class="left-navlists-ul">
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-index"></i>
                        <p>会员首页</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-recurit"></i>
                        <p>招聘</p>
                    </a>
                </li>
                <li class="left-navlists-li nav-active">
                    <a href="javascript:;">
                        <i class="icon-resume"></i>
                        <p>简历管理</p>
                    </a>
                    <div class="Two-columns">
                        <dl>
                            <dt class="erji-selected"><a href="javascript:;">简历收件箱</a></dt>
                            <dt><a href="javascript:;">已下载简历</a></dt>
                        </dl>
                    </div>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-cultivate"></i>
                        <p>职业培训管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-school"></i>
                        <p>院校信息发布</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-cerify"></i>
                        <p>证书管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-nation"></i>
                        <p>国际教育管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-certification"></i>
                        <p>实名认证</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-order"></i>
                        <p>订单管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <p>用户管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-safety"></i>
                        <p>安全设置</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="member-safety-right fr">
        <div class="member-safety-right-header clearfix">
            <h1 class="fl">欢迎登录中国职业培训网企业用户中心！<span>您上次登录的时间：2017-06-30 21:40</span></h1>
            <div class="safety-header-personal fr">
                <ul>
                    <li class="personal-infor1"><i>2</i></li>
                    <li class="personal-infor2"><img src="img/qiye-img.jpg"/>欢迎回来，联想集团</li>
                    <li class="personal-infor3"><img src="img/renzhe.png"/>已认证</li>
                    <li class="personal-infor4"><a href="javascript:;"><img src="img/next-icon.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="safety-setting-content">
            <h2 class="member-pager-title">简历管理</h2>
            <div class="member-pager-location">
                <i class="icon-index1"></i>
                <span>我的位置：</span>
                <a href="javascript:;">简历管理</a>
                <span> > </span>
                <a href="javascript:;">简历收件箱</a>
                <span> > </span>
                <a href="javascript:;">网页制作，程序编辑应聘简历</a>
                <span> > </span>
                <a href="javascript:;">张三简历</a>
            </div>
            <div class="safety-content-box">
                <h3>张三简历</h3>
                <div class="wrap-box resume-table">
                  <table width="100%">
                    <tr class="resume-header">
                        <td colspan="4">
                           <img src="img/header-img.png"/>
                            <p>18765546785</p>
                        </td>
                    </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">基本信息</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">姓名：</td>
                          <td class="resume-table-td2">张三</td>
                          <td class="resume-table-td1">户口所在地：</td>
                          <td class="resume-table-td2">安徽省合肥市高新区</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">出身日期：</td>
                          <td class="resume-table-td2">1991年8月</td>
                          <td class="resume-table-td1">现居住地：</td>
                          <td class="resume-table-td2">安徽省合肥市高新区</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">参加工作年份：</td>
                          <td class="resume-table-td2">2014年9月-2017年6月</td>
                          <td class="resume-table-td1">联系方式：</td>
                          <td class="resume-table-td2">18867544783</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">最高学历：</td>
                          <td class="resume-table-td2">本科</td>
                          <td class="resume-table-td1">电子邮箱：</td>
                          <td class="resume-table-td2">236489973@qq.com</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">国籍：</td>
                          <td class="resume-table-td2">中国</td>
                          <td class="resume-table-td1">婚姻状况：</td>
                          <td class="resume-table-td2">未婚</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">证件：</td>
                          <td class="resume-table-td2">23243578437545439</td>
                          <td class="resume-table-td1">政治面貌：</td>
                          <td class="resume-table-td2">共青团员</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1" style="vertical-align: top">海外工作学习经历：</td>
                          <td colspan="3" class="resume-table-td3" style="padding-bottom: 22px;">
                             <p class="resume-table-p">2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                             <p class="resume-table-p">2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                             <p class="resume-table-p">2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                             <p class="resume-table-p">2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                          </td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">求职意向</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">期望工作性质：</td>
                          <td class="resume-table-td2">全职</td>
                          <td class="resume-table-td1">期望从事行业：</td>
                          <td class="resume-table-td2">房地产行业</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">期望工作地点：</td>
                          <td class="resume-table-td2">安徽省合肥市高新区</td>
                          <td class="resume-table-td1">期望月薪（税前）：</td>
                          <td class="resume-table-td2">10000元</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">期望从事职业：</td>
                          <td class="resume-table-td2">销售经理</td>
                          <td class="resume-table-td1">求职状态：</td>
                          <td class="resume-table-td2">离职</td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">工作经验</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">企业名称：</td>
                          <td colspan="3" class="resume-table-td3">
                              合肥市瑞嘉房产营销有限公司
                          </td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">行业类别：</td>
                          <td class="resume-table-td2">房地产</td>
                          <td class="resume-table-td1">工作时间：</td>
                          <td class="resume-table-td2">2013年-10-24至2016-10-24</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">职位名称：</td>
                          <td class="resume-table-td2">销售经理</td>
                          <td class="resume-table-td1">职位月薪（税前）：</td>
                          <td class="resume-table-td2">8000</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1" style="vertical-align: top">工作描述：</td>
                          <td colspan="3" class="resume-table-td3">
                             <p style="line-height: 24px;"> 2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                          </td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">企业规模：</td>
                          <td class="resume-table-td2">50-99人</td>
                          <td class="resume-table-td1">企业性质：</td>
                          <td class="resume-table-td2">私营企业</td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">教育背景</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">学校名称：</td>
                          <td colspan="3" class="resume-table-td3">
                              背景交通大学
                          </td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">时间：</td>
                          <td class="resume-table-td2">2013年-10-24至2017年-10-24</td>
                          <td class="resume-table-td1">专业名称：</td>
                          <td class="resume-table-td2">视觉与艺术传达设计</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">是否统招：</td>
                          <td class="resume-table-td2">是</td>
                          <td class="resume-table-td1">学历/学位：</td>
                          <td class="resume-table-td2">本科</td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">培训经历</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">时间：</td>
                          <td class="resume-table-td2">2013年-10-24至2017年-10-24</td>
                          <td class="resume-table-td1">培训课程：</td>
                          <td class="resume-table-td2">JAVASCRIPT、C++、.NET、软件测试</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">培训机构：</td>
                          <td class="resume-table-td2">达内时代科技集团有限公司</td>
                          <td class="resume-table-td1">培训地点：</td>
                          <td class="resume-table-td2">合肥蜀山南一环与肥西路交通汇金大厦...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">获得证书：</td>
                          <td colspan="3" class="resume-table-td3">
                              国际认证的ACCP证书
                          </td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1" style="vertical-align: top">详细描述：</td>
                          <td colspan="3" class="resume-table-td3" style="padding-bottom: 32px;">
                              <p style="line-height: 24px;"> 2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书2006年-09 2009-07广州大学城建筑学院 物流管理 毕业证书</p>
                          </td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">证书</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">证书名称：</td>
                          <td colspan="3" class="resume-table-td3">
                              国际认证的ACCP证书
                          </td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">获得时间：</td>
                          <td colspan="3" class="resume-table-td3">
                              2013年-10月-24日
                          </td>
                      </tr>
                      <tr class="resume-subhead">
                          <td colspan="4" class="table-small-title">其他信息</td>
                      </tr>
                      <tr><td  colspan="4" height="20"></td></tr>
                      <tr>
                          <td class="resume-table-td1">兴趣爱好：</td>
                          <td class="resume-table-td2">兴趣爱好</td>
                          <td class="resume-table-td1">宗教信仰：</td>
                          <td class="resume-table-td2">宗教信仰...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">获得荣誉：</td>
                          <td class="resume-table-td2">达内时代科技集团有限公司</td>
                          <td class="resume-table-td1">特长职业目标：</td>
                          <td class="resume-table-td2">合肥蜀山南一环与肥西路交通汇金大厦...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">专业组织：</td>
                          <td class="resume-table-td2">专业组织</td>
                          <td class="resume-table-td1">特殊技能：</td>
                          <td class="resume-table-td2">特殊技能...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">著作/论文：</td>
                          <td class="resume-table-td2">达内时代科技集团有限公司</td>
                          <td class="resume-table-td1">社会活动：</td>
                          <td class="resume-table-td2">合肥蜀山南一环与肥西路交通汇金大厦...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">专利：</td>
                          <td class="resume-table-td2">达内时代科技集团有限公司</td>
                          <td class="resume-table-td1">荣誉：</td>
                          <td class="resume-table-td2">荣誉...</td>
                      </tr>
                      <tr>
                          <td class="resume-table-td1">其他：</td>
                          <td colspan="3" class="resume-table-td3">
                              其他
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" style="height: 44px;"></td>
                      </tr>
                  </table>
                  <div class="resume-dispose clearfix">
                      <a class="interview-invite fl" href="javascript:;">面试邀请</a>
                      <a class="interview-refuse fr" href="javascript:;">委婉拒绝</a>
                  </div>
                </div>
            </div>
            <div class="login-register-box">
                <p class="login-footer-p">北京通用领航咨询服务有限公司 版权所有 京ICP备11031804号<span>|</span><b>技术支持：科威网络</b></p>
            </div>
        </div>
    </div>
</div>
<!--面试邀请弹框-->
<div class="interview-invitation-cover">
</div>
<div class="interview-invitation-mask">
    <div class="manager-mask-header clearfix">
        <h2 class="fl">面试邀请函</h2>
        <i class="icon-close"></i>
    </div>
    <div class="interview-invitation-content">
        <h3>张三 你好：</h3>
        <p class="interview-zhaohu">经过我司初步筛选，认为你与我们的职位要求很匹配，现诚邀你来我司面谈。请准时出席，如有时间上的变化也请尽快与我们联系</p>
        <div class="interview-invitation-form">
            <form>
                <div class="interview-form">
                    <label><b>*</b>面试时间</label>
                    <input type="text" placeholder="请选择开始时间"/>
                    <select>
                        <option value="上午">上午</option>
                        <option value="下午">下午</option>
                    </select>
                    <select>
                        <option value="9:00">9:00</option>
                        <option value="14:00">14:00</option>
                    </select>
                </div>
                <div class="interview-form-div">
                    <label><b>*</b>面试地点</label>
                    <input type="text"/>
                </div>
                <div class="interview-form-div">
                    <label><b>*</b>联系人</label>
                    <input type="text"/>
                </div>
                <div class="interview-form-div">
                    <label><b>*</b>联系电话</label>
                    <input type="text"/>
                </div>
                <div class="interview-form-chekbox clearfix">
                    <span>备注</span>
                    <div class="checkform-inp fr">
                        <label><input type="checkbox" name="beizhu" style="margin-left: 0" value=""/>请携带简历</label>
                        <label><input type="checkbox" name="beizhu" value=""/>请带笔纸</label>
                        <label><input type="checkbox" name="beizhu" value=""/>请带作品</label>
                        <label><input type="checkbox" name="beizhu" value=""/>请着正装</label>
                        <label><input type="checkbox" name="beizhu"  style="margin-left: 0" value=""/>其他</label>
                        <input class="beizhu-inp" type="text"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="interview-notice">
            <label><input type="checkbox" name="beizhu" value=""/>同时发送短信通知<b>（发送短信总条数：<i>500</i>，还剩<i> 0</i> 条。余额不足，请联系客服人员充值.)</b></label>
        </div>
        <div class="interview-go-box">
            <div class="interview-go">
                <input type="submit" value="发送"/>
                <a href="javascript:;">取消</a>
            </div>
        </div>
    </div>
</div>
<!--委婉拒绝-->
<div class="decline-mask">
    <div class="manager-mask-header clearfix">
        <h2 class="fl">面试邀请函</h2>
        <i class="icon-close"></i>
    </div>
    <div class="decline-mask-content">
      <h3>张三 你好：</h3>
        <p>非常感谢你对我司的认同，您的履历非常具有竞争力，然而非常遗憾的是我公司暂时尚无合适的岗位适合您，但我们已经将您的个人信息归入人才库，只要有合适的机会，我们将第一时间通知，再次感谢您对我公司的信任，祝您未来一切顺利，有机会我们再合作！</p>
    </div>
    <div class="decline-mask-btn">
        <a class="decline-send" href="javascript:;">发送</a>
        <a class="decline-resect" href="javascript:;">取消</a>
    </div>
</div>
<!--面试邀请中弹框-->
<div class="interview-going-mask">
    <img src="img/jiazai.gif"/>发送中···
</div>
<!--面试邀请邀请成功-->
<div class="pay-successful-mask">
    <div class="reminder-text"><img src="img/smile.png"/>面试邀请发送成功！</div>
    <a href="javascript:;" class="pay-success-close">关闭</a>
</div>
</body>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script>
    $(function(){
        if($(".nav-active a").next().length == 0){
            $(".left-navlists-li.nav-active").css({"background":" #1e2a3c url(../img/safety-setting.png) no-repeat right center"});
        }else{
            $(".left-navlists-li.nav-active").css({"background":" #1e2a3c"});
        }
    });
</script>
</html>