<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>简历管理-已下载简历</title>
    <link rel="shortcut icon" href="img/xi.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/member.css"/>
</head>
<body>
<div class="pager-wrap member-safety-wrap clearfix">
    <div class="member-safety-left fl">
        <div class="member-logo">
            <a href="javascript:;"><img src="img/vip-logo.png"/></a>
            <a href="javascript:;" class="icon-nav"></a>
        </div>
        <div class="left-nav-lists">
            <ul class="left-navlists-ul">
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-index"></i>
                        <p>会员首页</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-recurit"></i>
                        <p>招聘</p>
                    </a>
                </li>
                <li class="left-navlists-li nav-active">
                    <a href="javascript:;">
                        <i class="icon-resume"></i>
                        <p>简历管理</p>
                    </a>
                    <div class="Two-columns">
                        <dl>
                            <dt class="erji-selected"><a href="javascript:;">简历收件箱</a></dt>
                            <dt><a href="javascript:;">已下载简历</a></dt>
                        </dl>
                    </div>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-cultivate"></i>
                        <p>职业培训管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-school"></i>
                        <p>院校信息发布</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-cerify"></i>
                        <p>证书管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-nation"></i>
                        <p>国际教育管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-certification"></i>
                        <p>实名认证</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-order"></i>
                        <p>订单管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <p>用户管理</p>
                    </a>
                </li>
                <li class="left-navlists-li">
                    <a href="javascript:;">
                        <i class="icon-safety"></i>
                        <p>安全设置</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="member-safety-right fr">
        <div class="member-safety-right-header clearfix">
            <h1 class="fl">欢迎登录中国职业培训网企业用户中心！<span>您上次登录的时间：2017-06-30 21:40</span></h1>
            <div class="safety-header-personal fr">
                <ul>
                    <li class="personal-infor1"><i>2</i></li>
                    <li class="personal-infor2"><img src="img/qiye-img.jpg"/>欢迎回来，联想集团</li>
                    <li class="personal-infor3"><img src="img/renzhe.png"/>已认证</li>
                    <li class="personal-infor4"><a href="javascript:;"><img src="img/next-icon.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="safety-setting-content">
            <h2 class="member-pager-title">简历管理</h2>
            <div class="member-pager-location">
                <i class="icon-index1"></i>
                <span>我的位置：</span>
                <a href="javascript:;">简历管理</a>
                <span> > </span>
                <a href="javascript:;">已下载简历</a>
            </div>
            <div class="safety-content-box">
                <h3>已下载简历</h3>
                <div class="resume-inbox">
                    <div class="order-manager-header clearfix">
                        <div class="manager-header-right fr">
                            <form>
                                <div class="order-search">
                                    <select name="order-lists">
                                        <option value="按到账时间">按到账时间</option>
                                        <option value="按到账时间">按下单时间</option>
                                        <option value="按到账时间">按收货时间</option>
                                    </select>
                                    <input class="order-manager-inp" type="text" placeholder="输入订单编号"/>
                                    <input class="order-manager-sub" type="button" value="搜索结果">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="order-manager-content">
                        <form>
                            <table width="101%" cellpadding="0" cellspacing="0">
                                <tr class="manager-firsttr">
                                    <th class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/>全选</label>
                                    </th>
                                    <th class="resume-employ-secondth">求职者</th>
                                    <th class="resume-employ-thirdth">求职意向</th>
                                    <th class="resume-employ-fourth">性别</th>
                                    <th class="resume-employ-fiveth">学历</th>
                                    <th class="resume-employ-sixth">工作经验</th>
                                    <th class="resume-employ-seventh">期望月薪</th>
                                    <th class="resume-employ-eigth">招聘类别</th>
                                    <th class="resume-employ-nineth">反馈状态</th>
                                    <th class="resume-employ-eleventh">收件时间</th>
                                    <th class="resume-employ-twenth">操作</th>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="manager-firstth">
                                        <label><input name="orderselect" type="checkbox"/></label>
                                    </td>
                                    <td>张三</td>
                                    <td>网页制作，程序编辑</td>
                                    <td>男</td>
                                    <td>本科</td>
                                    <td>3年以上</td>
                                    <td>3000-5000元</td>
                                    <td>高新招聘</td>
                                    <td>未查看</td>
                                    <td>2017-06-29</td>
                                    <td>
                                        <a class="resume-check color-trblue" href="javascript:;">查看</a>
                                        <a class="resume-delete color-trblue" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                            </table>
                            <div class="manager-lasttr clearfix">
                                <div class="manager-firstth">
                                    <label><input name="orderselect" type="checkbox"/>全选</label>
                                </div>
                                <div class="manager-deletetd">
                                    <a href="javascript:;" class="batchs-delete"><img src="img/dele.png"/>批量删除</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-register-box">
                <p class="login-footer-p">北京通用领航咨询服务有限公司 版权所有 京ICP备11031804号<span>|</span><b>技术支持：科威网络</b></p>
            </div>
        </div>
    </div>
</div>
<!--下载简历弹出框-->
<div class="interview-invitation-cover">
</div>
<div class="resume-download-mask">
    <h2><i class="icon-close"></i></h2>
    <p>是否确定下载简历？</p>
    <div class="resume-download-comfirm decline-mask-btn">
        <a href="javascript:;" class="download-yes decline-send">确定</a>
        <a href="javascript:;" class="download-no decline-resect">取消</a>
    </div>
</div>
</body>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script>
    $(function(){
        if($(".nav-active a").next().length == 0){
            $(".left-navlists-li.nav-active").css({"background":" #1e2a3c url(../img/safety-setting.png) no-repeat right center"});
        }else{
            $(".left-navlists-li.nav-active").css({"background":" #1e2a3c"});
        }
    });
    $(function(){
        $(".order-manager-content tr:odd").attr("bgColor", "#fff");//为单数行表格设置背景颜色
        $(".order-manager-content tr:even").css("background-color", "#eef1f5");//为双数行表格设置背颜色素
    });
</script>
</html>