

body{
	overflow-x:hidden;
}

#container {   
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1070px;
}
.wrapper {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	 width:100%;
    height: 1070px;
	 display:block;
	z-index:2;
}
.wrapper2 {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:100%;
    height: 1070px;
	display:block;
	z-index:2;
	text-align:center;
	padding-bottom:50px;
}

#slider {
	width:100%;
	 height: 1070px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:2;
	display:block;
}

.cs-activeSlide { display:block; }
.slide-descriptions {
	display:none;
}


.pagination {
	bottom: 185px;
    width: 100%;
    margin-top: 50px;
    position: absolute;
    text-align: center;
}
.slider-pagination {
	display:inline-block;
	width:10px;
	height:10px;
	margin:0 10px;
	cursor:pointer;
	position:relative;
	border-radius: 50%;
	z-index:200;
	border: 3px solid #fff;
}

.slide{
	width: 100%;
	height: 100%;
	display:none; 
}
.slide img{
	width: 100%;
	height: 100%;
}
.cs-activeSlide-2 {
	display:block
}
.cs-activeSlide{
	width:100%;
	overflow: hidden;
}
.cs-active-pagination{
	background: #fff;
}
