/*登录*/
.login-register-box{
    width: 1100px;
    margin:0 auto;
}
.in_body {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.login_wrap{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-image:url(../img/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-box{
    width:1100px;
    height: 100%;
    margin:0 auto;
    position: relative;
    padding:31px 0 0 0;
}
.login-header{
    height: 40px;
}
.login-header-l .login-logo img{
    vertical-align: middle;
    width:91px;
    height: 34px;
}
.login-header-l .login-logo{
    font-size: 30px;
    color: #fff;
    font-weight:bold;
}
.login-header-l .login-address{
    width:45px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-radius: 9px;
    display: inline-block;
    text-align:center;
    color: #007ac3;
    font-size: 12px;
    position: relative;
    top:-4px;
    margin:auto auto auto 10px;
}
.login-header-r .login-nav-ul{
    overflow: hidden;
}
.login-header-r .login-nav-ul .login-nav-li{
   display: inline-block;
    float:left;
    line-height:40px;
    margin-left: 35px;
}
.login-nav-li a{
    color: #fff;
    font-size: 16px;
}
.login-content{
    width: 100%;
    padding:0 30px;
    height:405px;
    position:absolute;
    top:50%;
    margin-top:-202px;
}
.login-content-l{
    width: 620px;
    padding:97px 0 0 0;
}
.login-content-l h2{
    color: #fff;
    font-family:G01bold;
    font-size:70px;
}
.login-content-l p{
    color: #fff;
    font-family:youyuan;
    font-size:22px;
    margin-top: 30px;
}
.login-contetn-r{
    width:335px;
    height:387px;
    padding:18px 40px 0;
    background:#fff;
}
.login-contetn-r .form-title{
    height: 32px;
    margin-bottom:18px;
}
.form-title-ul{
    overflow: hidden;
}
.form-title-ul .form-title-li{
    float:left;
    width:50%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-right:1px solid #cacacb;
    margin-right: -1px;
}
.form-title-ul .form-title-li a{
    font-size: 18px;
    color: #666666;
}
.form-title-ul .form-title-li.active a{
   color: #e71f1b;
}
.form-dv{
    width:335px;
    height: 48px;
    margin-bottom: 19px;
}
.form-dv input{
    width: 100%;
    height:48px;
    border:1px solid #cccccc;
    border-radius:25px;
    text-indent: 20px;
}
.form-div{
    width:335px;
    height: 48px;
    margin-bottom: 19px;
    border:1px solid #cccccc;
    border-radius:25px;
    overflow: hidden;
}
.form-div input{
    width:280px;
    height:48px;
    border-radius:25px 0 0 25px;
    text-indent: 20px;
    float:left;
}
.form-div a{
    width:50px;
    height: 48px;
    border-radius: 0 25px 25px 0;
    display:block;
    float:left;
    background:url(../img/login_icon01.png) no-repeat 10px center;
}
.form-inp{
    width:335px;
    height: 48px;
    margin-bottom: 20px;
    overflow: hidden;
}
.form-inp input{
    width:100%;
    height: 48px;
    background:#ea564f;
    border-radius:25px;
    font-size: 16px;
    color: #fff;
}
.login-contetn-r input::-webkit-input-placeholder{color:#a4a3a4;}
.login-contetn-rinput input:-moz-placeholder{color:#a4a3a4;  }
.login-contetn-rinput input::-moz-placeholder{color:#a4a3a4; }
.login-contetn-rinput input:-ms-input-placeholder{color:#a4a3a4;}
.other-link{
    width:100%;
    margin-bottom: 30px;
}
.other-link a{
    color: #666;
    font-size:12px;
}
.other-link span{
  margin:0 8px 0 9px;
    color: #666666;
}
.third-login h3{
    height: 14px;
    line-height: 14px;
    color: #999999;
    font-size: 12px;
    text-align: center;
    background:url(../img/line.png) no-repeat center;
    margin-bottom: 12px;
}
.third-login-type{
     text-align: center;
}
.third-login-type a{
    width: 40px;
    height: 40px;
    margin-left:12px;
}
.third-login-type .qq-login{
    background:url(../img/login_icon03.png) no-repeat center;
}
.third-login-type .weibo-login{
    background:url(../img/login_icon02.png) no-repeat center;
}
.login-footer{
    position:fixed;
    bottom:50px;
    left:0;
    width: 100%;
    text-align: center;
}

/*
学生注册*/
.register-box{
    width: 1100px;
    margin:0 auto;
    position: relative;
    padding:31px 0 31px 0;
}
.register-wrap{
    width: 100%;
    padding:80px 0 50px 0;
    background: #f0f2f5;
}
.register-content{
    border:1px solid #e2e1e1;
    border-radius:5px;
    margin-bottom: 74px;
}
.register-header{
    width:100%;
    height:104px;
    line-height: 104px;
}
.register-header h1{
    color: #323333;
    font-size:20px;
    font-weight:bold;
    padding-left: 30px;
}
.register-header .register-cate{
    color: #0069b6;
    font-size: 16px;
    padding-right: 30px;
    display: table-cell;
    vertical-align: middle;
}
.register-cate img{
    vertical-align: middle;
    display: inline-block;
    margin-right:8px;
    margin-top:-3px;
}
.register-detials{
    width:100%;
    padding:106px 0 85px 0;
    background:#fff;
}
.register-left{
    width:400px;
    padding:0 85px 0 130px;
    border-right: 1px dashed #e3e1e1;
}
.register-tab ul{
  overflow: hidden;
    text-align: center;
}
.register-tab ul li{
    display:inline-block;
    margin-right:40px;
    color: #2c3f4c;
}
.register-tab{
    margin-bottom: 26px;
}
.register-tab li i{
    width: 12px;
    height: 13px;
    vertical-align: middle;
    background: url(../img/dian.png) no-repeat center;
    margin-right:5px;
}
.register-tab .select i{
    background:url(../img/active-dian.png) no-repeat center;
}
.register-form-div{
    width: 402px;
    height: 48px;
    margin-bottom:20px;
}
.register-form-div input{
    width: 100%;
    height: 48px;
    border:1px solid #cccccc;
    border-radius:25px;
    text-indent: 20px;
}
.register-form-dv{
    width: 402px;
    height: 48px;
    border:1px solid #cccccc;
    border-radius:25px;
    margin-bottom:20px;
}
.register-form-dv .form-code-inp{
    width: 290px;
    height: 46px;
    border-radius: 25px 0 0 25px;
    float: left;
    text-indent: 20px;
}
.register-form-dv .form-code-get{
    width:111px;
    height: 48px;
    border-radius:0 25px 25px 0;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr="#005dab",endcolorstr="#009be3",gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr="#005dab",endcolorstr="#009be3",gradientType=0);/*IE8*/
    background:#009be3; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(top, #005dab, rgba(0,155,227,1));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#009be3), to(rgba(0,93,171,1)));
    background:-o-linear-gradient(top, #005dab, rgba(0,93,171,1));
    color: #fff;
    font-size: 14px;
}
.register-form-psw{
    width: 402px;
    height: 48px;
    border:1px solid #cccccc;
    border-radius:25px;
    margin-bottom:20px;
}
.register-form-psw input{
    width:352px;
    height:48px;
    border-radius:25px 0 0 25px;
    text-indent: 20px;
    float:left;
}
.register-form-psw a{
    width:50px;
    height: 48px;
    border-radius: 0 25px 25px 0;
    display:block;
    float:left;
    background:url(../img/login_icon01.png) no-repeat 10px center;
}
.company-agreement{
    position: relative;
    display: block;
    height: 18px;
    margin-bottom:25px;
}
.company-agreement label{
    width: 100%;
    padding: 0;
    cursor: pointer;
}
.company-agreement input[type=radio] {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type=radio]:checked+span {
   background: url(../img/tick.png) no-repeat center;
}
input[type=radio]+span{
    width:18px;
    height: 18px;
    display: inline-block;
    padding: 0;
    border:1px solid #999999;
    vertical-align:-4px;
    margin:auto 10px auto 4px;
}
.company-agreement .agreement-content{
    display: inline-block;
    color: #666666;
    font-size: 14px;
    cursor: pointer;
}
.company-agreement .agreement-content b{
    border-bottom: 1px solid #a8a3a1;
}
.register-form-inp{
    width:402px;
    height: 48px;
    margin-bottom: 20px;
    overflow: hidden;
}
.register-form-inp input{
    width:100%;
    height: 48px;
    background:#ea564f;
    border-radius:25px;
    font-size: 16px;
    color: #fff;
}
.register-right{
    padding:182px 0 0 0;
    width:482px;
}
.register-other-link{
    width:257px;
    height: 48px;
    line-height: 48px;
    color: #ea564f;
    font-size: 14px;
    display:block;
    text-align: center;
    margin:auto auto 50px auto;
    border:1px solid #ea564f;
    border-radius:25px;
}
.register-cover{
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.6;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    display: none;
    z-index: 5;
}
.mask-header{
    margin-bottom: 36px;
}
.register-mask{
    position:fixed;
    width:1020px;
    height:550px;
    padding:40px 30px 30px 50px;
    background: #fff;
    display: none;
    z-index: 6;
}
.mask-header h2{
    color:#030000;
    font-size: 22px;
}
.mask-content{
    max-height: 480px;
    overflow-y:auto;
    width: 100%;
}
.tab li, .tab a, .tab-item {
    float: left;
    text-align: center;
}
.tab li, .tab a, .tab-item {
    cursor: pointer;
    float: left;
    text-align: center;
}
#summary-stock .dt {
    margin-top: 4px;
}
.list1 .dt {
    float: left;
    height: 18px;
    text-align: right;
    width: 72px;
}
.list1 .dd {
    width:100%;
    height: 48px;
    border-radius:25px;
}
.store-selector {
    position: relative;
    float: left;
    z-index: 2;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #cccccc;
}
.store-selector dl, .store-selector dt, .store-selector dd {
    float: none;
    color: #999
}
.store-selector dl {
    position: absolute;
    top: 23px;
    z-index: 1;
    width: 358px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd
}
.store-selector dt {
    padding: 6px 0 10px;
    color: #999
}
.store-selector dd {
    padding-bottom: 5px;
    line-height: 18px
}
.store-selector a:link, .store-selector a:visited {
    color: #005aa0
}
.store-selector a:hover, .store-selector a:active {
    background: #005aa0;
    color: #fff
}
.store-selector .text {
    width:100%;
    height:48px;
+ float : none;
    _float: left;
    position: relative;
    top: 0;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    border-radius: 25px;
}
.store-selector .text div{
    width:352px;
    height:48px;
    line-height: 48px;
    border-radius:25px 0 0 25px;
    text-indent: 20px;
    float:left;
    color: #a4a3a4;
    font-size: 14px;
}
.store-selector .text b {
    width:50px;
    height: 48px;
    border-radius: 0 25px 25px 0;
    display:block;
    float:left;
    background:url(../img/xiala.png) no-repeat 10px center;
    cursor: pointer;
}
.store-selector .close {
    display: none;
    position: absolute;
    z-index: 2;
    top:39px;
    left:410px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url(../img/20120418.png) no-repeat -40px 0
}
.store-selector a:hover {
    background: #0096de;
    color: #fff;
    cursor: pointer
}
.store-selector.hover .text {
    border-bottom: 0
}
.store-selector.hover .i-storeinfo {
    position: relative;
    z-index: 2;
}
.store-selector.hover .i-storeinfo div {
   /* background: url(../img/bg_store.gif) no-repeat -81px -75px*/
}
.store-selector.hover dl {
    display: block
}
.store-selector.hover .close {
    display: block
}
.store-prompt {
    clear: left;
    line-height: 25px
}
.store-prompt strong {
    font-size: 14px
}
.store-prompt a {
    color: #005EAA
}
* html #store-selector .i-storeinfo, * html #store-selector .i-storeinfo div {
    float: left
}
* html #store-selector dl {
    left: 0
}
.store-selector .content {
    display: none;
    position: absolute;
    top:49px;
    left:0px;
    border: 1px solid #cecbce;
    width: 390px;
    padding: 15px;
    background: #fff;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd
}
.store-selector .content select {
    float: left;
    width: 120px;
    border: 1px solid #cecbce;
    margin-right: 15px
}
.store-selector .content .select3 {
    margin-right: 0
}
.store-selector.hover .content, .store-selector.hover .close {
    display: block
}
#JD-stock {
    position: relative;
    margin-bottom: 0
}
#JD-stock .tab {
    width: 100%;
    height: 25px;
    float: left;
    border-bottom: 2px solid #0065b2;
    overflow: visible;
    *overflow: hidden
}
#JD-stock .tab li {
    float: left;
    clear: none;
    height: 23px;
    padding: 1px 1px 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    margin-right: 3px;
    background-color: #fff;
    line-height: 22px;
    text-decoration: none
}
#JD-stock .tab .curr {
    *position: relative;
    height: 25px;
    padding: 0;
    border: 2px solid #0065b2;
    border-bottom: 0
}
#JD-stock .tab a {
    position: relative;
    float: left;
    height: 23px;
    padding: 0 20px 1px 10px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    outline: 0;
    *blr: expression(this.onFocus=this.blur())
}
#JD-stock .tab a:hover {
    background: 0;
    color: #005AA0
}
#JD-stock .tab a i {
    position: absolute;
    right: 5px;
    top: 10px;
    *top: 9px;
    display: block;
    width: 7px;
    height: 5px;
    overflow: hidden;
    background: url(../img/20130606B.png) no-repeat -76px -34px;
    opacity: .5;
    filter: alpha(opacity=50)
}
#JD-stock .tab .curr i, #JD-stock .tab a:hover i {
    opacity: 1;
    filter: alpha(opacity=100)
}
#JD-stock .area-list {
    padding-top: 5px
}
#JD-stock .area-list li {
    float: left;
    width: 80px;
    padding: 2px 0 2px 15px;
    clear: none
}
#JD-stock .area-list li a {
    float: left;
    padding: 2px 4px;
    *padding: 0 4px;
    color: #666;
}
#JD-stock .area-list li a:hover {
    color: #fff
}
#JD-stock .area-list .longer-area {
    width: 370px
}
#JD-stock .area-list .long-area {
    width: 170px
}

/*
第三方登陆后绑定账号*/
.bind-wrap{
    width: 1000px;
    margin:0 auto;
}
.bind-account{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 36px;
}
.bind-header{
    height: 113px;
    background: url(../img/bind-bg.png) no-repeat center bottom;
}
.third-bind-header{
    height: 100px;
    line-height: 100px;
}
.third-bind-header .login-logo{
    color: #333;
    font-size: 30px;
    font-weight: bold;
}
.third-bind-header .login-logo img{
    vertical-align: middle;
    width: 91px;
    height: 34px;
}
.third-bind-header .lianhe-login{
  color: #222;
    font-size: 18px;
}
.third-bind-header span{
    width: 1px;
    height: 37px;
    background: #bbbbbb;
    vertical-align:-8px;
    margin:auto 20px auto 25px;
}
.bind-account-title{
    width: 800px;
    margin:0 auto;
    padding:50px 0 0 0;
}
.bind-account-title ul{
    overflow: hidden;
}
.bind-account-title li{
    width: 50%;
    float:left;
    color: #666;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
    padding-bottom: 10px;
    border-bottom:2px solid #ececec;
}
.bind-account-title .bind-account-step1{
    width:23px;
    height: 22px;
    vertical-align:-3px;
    margin-right: 12px;
    background:url(../img/bind-icon01.png) no-repeat center;
}
.bind-account-title .bind-account-step2{
    width:23px;
    height: 22px;
    vertical-align:-3px;
    margin-right: 12px;
    background:url(../img/bind-icon02.png) no-repeat center;
}
.bind-account-title li.bind-active .bind-account-step1{
    width:23px;
    height: 22px;
    vertical-align:-3px;
    margin-right: 12px;
    background:url(../img/bind-icon11.png) no-repeat center;
}
.bind-account-title li.bind-active .bind-account-step2{
    width:23px;
    height: 22px;
    vertical-align:-3px;
    margin-right: 12px;
    background:url(../img/bind-icon22.png) no-repeat center;
}
.bind-account-title li.bind-active{
    color: #fb3f3e;
    font-size: 18px;
}
.bind-account-title li.bind-active{
    border-bottom:2px solid #ff2e2e;
}
.bind-account-title li i{
  width: 23px;
    height: 22px;
}
.bind-account-box{
    width: 400px;
    margin:0 auto;
    padding:33px 0 0 0;
}
.bind-user-mess{
    height:58px;
    background:#f6f6f6;
    padding:0 54px 0 38px;
    overflow: hidden;
    margin-bottom:35px;
}
.bind-user-mess img{
    width: 29px;
    height:29px;
    margin:15px auto auto auto;
}
.bind-user-mess .user-mess-intro{
    width: 268px;
    color: #333;
    font-size: 12px;
    line-height:18px;
    margin-top:11px;
}
.bind-form-div{
    height: 57px;
    border:1px solid #ddd;
    margin-bottom:29px;
    overflow: hidden;
}
.bind-form-div label{
    width: 128px;
    height: 56px;
    line-height: 56px;
    color: #666666;
    display: inline-block;
    text-indent: 20px;
    float:left;
}
.bind-form-div input{
    width:270px;
    height: 56px;
    float: left;
}
.bind-form-div.bind-form-code input{
    width:157px;
    height:56px;
    float: left;
}
.bind-form-div.bind-form-code a{
    width:110px;
    height: 46px;
    margin: 5px 3px auto auto;
}
.bind-forget-psw{
    position: relative;
    margin: -10px auto 36px auto;
}
.bind-forget-psw a{
    float: right;
    color: #666;
    font-size: 14px;
}
.bind-form-sub input{
    width: 400px;
    height: 54px;
    background:#ff2e2e;
    color: #fff;
    font-size:18px;
}
.bind-material.bind-form-div{
    height: 57px;
    border:1px solid #ddd;
    margin-bottom:15px;
    overflow: hidden;
}
.bind-form-select{
    width: 400px;
    height: 57px;
    margin-bottom: 15px;
}
.bind-form-select select{
    width: 130px;
    height: 57px;
    border:1px solid #dddddd;
    font-size: 14px;
    color: #666666;
    padding:0 10px;
}
.bind-phone-code .inp-code{
    width:157px;
    float: left;
}
.bind-phone-code .get-phone-code{
    width:110px;
    height:46px;
    background: #eff3f9;
    margin:5px 3px auto auto;
    color: #8f9baa;
    float:left;
}
.black297{
    height: 297px;
}
.black94{
    height:94px;
}
.black52{
    height: 52px;
}
.bind-successful{
    text-align: center;
    padding:345px 0 345px 0;
}
.bind-successful h1{
    color: #333;
    font-size: 30px;
    margin-bottom: 50px;
}
.bind-successful h1 img{
    width: 81px;
    height: 78px;
    vertical-align:middle;
    margin-right: 35px;
}
.bind-successful .in-personalcenter{
    width:185px;
    height: 49px;
    background: #e60012;
    line-height: 49px;
    text-align: center;
    color: #fff;
    font-size:16px;
}
/*
找回密码第一步*/
.findpwd-header{
    height: 103px;
    background:#fff url(../img/header-bg_02.jpg) no-repeat right center;
}
.findpwd-header h1{
    height: 103px;
    line-height:103px;
    color: #323333;
    font-weight:bold;
    font-size:20px;
    padding-left:30px;
}
.find-step{
    width: 366px;
    padding-top: 26px;
    margin-right:63px;
}
.find-step img{
    width:24px;
    height:24px;
    float:left;
}
.find-step .active-line{
    width: 40px;
    height:2px;
    background: #ea564f;
    margin-top: 11px;
    float: left;
    position: relative;
}
.find-step .normal-line{
    width: 40px;
    height:2px;
    background: #323333;
    margin-top: 11px;
    float: left;
    position: relative;
}
.find-step i{
    position: absolute;
    top:23px;
    left:-40px;
    color: #666666;
    font-size: 14px;
}
.find-step .active-line i{
    color: #ea564f;
}
.find-step .last-step-line{
    position: absolute;
    top:23px;
    left:16px !important;
    right:-152px;
    color: #666666;
    font-size: 14px;
}
.findpws-step1{
    border:1px solid #e2e1e1;
    border-radius:5px;
    height:760px;
    position: absolute;
    top:50%;
    margin-top: -380px;
    width: 1100px;
    left:50%;
    margin-left:-550px;
}
.findpwd-step1{
    background: #fff;
    padding:150px 0 254px 0;
}
.findpwd-step1.findpwd-step4{
    background: #fff;
    padding:150px 0 216px 0;
}
.findpwd-step1 h2{
    color: #323333;
    font-size:20px;
    text-align: center;
    background:url(../img/step-line.png) no-repeat center;
    margin-bottom: 50px;
}
.findpwd-step1-form{
    width:342px;
    margin:0 auto;
}
.findpwd-step1-div{
    width:100%;
    height:48px;
    margin-bottom: 21px;
}
.findpwd-step1-div input{
    width:100%;
    height: 48px;
    border:1px solid #ccc;
    border-radius: 25px;
    text-indent: 10px;
}
.findpwd-step1-code{
    width:100%;
    height:48px;
    border:1px solid #ccc;
    margin-bottom:20px;
    border-radius: 25px;
}
.findpwd-step1-code input{
    width:216px;
    height: 46px;
    border-radius: 25px 0 0 25px;
    float: left;
    text-indent: 10px;
}
.findpwd-step1-code a{
    width: 126px;
    height: 48px;
    background: #dcdcdc;
    border-radius: 0 25px 25px 0;
}
.findpwd-step1-code a img{
    width:107px;
    height: 34px;
    display: block;
    margin:6px auto auto auto;
}
.findpwd-step1-sub input{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #ea564f;
    color: #fff;
    font-size:16px;
}
.findpwd-step1-code .findpwd-step2{
    width: 235px;
    height: 46px;
    border-radius: 25px 0 0 25px;
    float: left;
    text-indent: 10px;
}
.findpwd-step1-code .form-code-get{
    width:107px;
    height: 48px;
    border-radius:0 25px 25px 0;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr="#005dab",endcolorstr="#009be3",gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr="#005dab",endcolorstr="#009be3",gradientType=0);/*IE8*/
    background:#009be3; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(top, #005dab, rgba(0,155,227,1));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#009be3), to(rgba(0,93,171,1)));
    background:-o-linear-gradient(top, #005dab, rgba(0,93,171,1));
    color: #fff;
    font-size: 14px;
}
.findpwd-step1-code .findpwd-step3{
    width: 288px;
    height: 46px;
    border-radius: 25px 0 0 25px;
    float: left;
    text-indent: 10px;
}
.findpwd-step1-code .small-key{
    width:50px;
    height: 48px;
    border-radius: 0 25px 25px 0;
    display:block;
    float:left;
    background:url(../img/login_icon01.png) no-repeat 10px center;
}
.findpwd-step4 .findpwd-back-notice1{
     color:#666666;
    font-size: 30px;
    width: 350px;
    margin:auto auto 18px auto;
}
.findpwd-step4 .findpwd-back-notice1 img{
    vertical-align: middle;
    width:65px;
    height:65px;
    margin-right: 14px;
}
.findpwd-back-notice2{
    width:483px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #fbe3e3;
    margin:auto auto 34px auto;
}
.findpwd-back-notice2 p{
    font-size: 16px;
    color: #323333;
}
.go-back{
    width: 338px;
    height: 40px;
    background: #ea564f;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size:16px;
    display: block;
    margin:0 auto;
}
/*
使用帮助*/
.help-pager-wrap{
    background:url(../img/login-bg.jpg) no-repeat center top;
}
.help-box{
    padding:31px 0 80px 0;
    width: 1100px;
    margin:0 auto;
}
.help-box h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: fangzheng;
    margin-top:67px;
}
.help-wrap{
    background: #fff;
    padding:0 0 43px 0;
}
.help-content{
  margin-bottom: 100px;
}
.help-content h3{
    height:87px;
    color: #323333;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    line-height: 120px;
    overflow: hidden;
    margin-bottom: 22px;
}
.help-content-lists{
    width: 100%;
}
.help-content-lists .help-content-ul{
    overflow: hidden;
}
.help-content-ul .help-content-li a{
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #dddddd;
    color: #444344;
    font-size: 16px;
    display: block;
    overflow: hidden;
}
.help-content-ul .help-content-li a i{
    float: right;
    display: block;
    width: 40px;
    height: 52px;
    background:url(../img/xila.png) no-repeat center;
}
.pull-down-content{
    padding:28px 26px 5px 26px;
    background: #fef6f5;
    border-bottom: 1px solid #dddddd;
    display:none;
}
.pull-down-content .pull-down-p{
    font-size: 14px;
    line-height:28px;
    color:#666;
    margin-bottom: 30px;
}
.help-content-ul .help-content-li.help-open-li a{
    color: #e71f19;
}
.help-content-ul .help-content-li.help-open-li a i{
    background: url(../img/xiala-on.png) no-repeat center;
}
/*
.help-content-ul .help-content-li.help-open-li .pull-down-content{
    display:block;
}*/
