

	/*! Freebie Skelet */
	ul.expmenu { width:1100px; }
	ul.expmenu * { list-style: none; }
	ul.expmenu li{
		margin-bottom: 20px;
	}
	ul.expmenu > li > div.header { padding: 12px;}
	ul.expmenu > li:last-child > div.header { border-bottom: none; }
	ul.expmenu > li ul li { background-color: #fafafa; padding: 0 46px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
	ul.expmenu > li ul li:last-child { border-bottom: none; }
	ul.expmenu > li ul li.selected { background-color: #f4f4f4; }
	ul.expmenu div.header
	{
		color: #333333;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
        background: #fafafa;
		
	}
	ul.expmenu > li > div.header > .label { padding-left:40px; background: no-repeat; }
	ul.expmenu > li > div.header > .arrow { display: block; width: 18px; height: 18px; background: no-repeat center; float: right; }
	ul.expmenu > li > div.header > .arrow.up { background-image: url(../img/arrow_u.png); }
	ul.expmenu > li > div.header > .arrow.down { background-image: url(../img/arrow_d.png); }

		
	ul#pagination-freebie { display: table; padding-right: 20px; margin: 20px auto; list-style: none; }
	ul#pagination-freebie:last-child { padding-right: 0; }
	ul#pagination-freebie li { float: left; margin-bottom: 20px }
	ul#pagination-freebie li:last-child { margin-right: 0; }

	div#text { text-align: center; font-size: 48px; width: 610px; margin: 0 auto; margin-top: 50px; margin-top: 80px; }
	div#smalltext { text-align: center; font-size: 15px; width: 600px; margin: 0 auto; }
	div#content { display: table; margin: 0 auto; padding: 30px; }